<div class="row background-gray rounded-border p-4 text-white mt-10">
    <div class="col-12 col-lg-6">
      <img src="/Asset/img2.png" alt="" class="img-fluid" />
    </div>
    <div class="col-12 col-lg-6">
      <h1 class="font-clash text-67 d-none d-lg-block">Join our weekly digest</h1>
      <h1 class="font-clash d-block d-lg-none">Join our weekly digest</h1>
      <p class="h4 my-3">
        Get exclusive promotions & updates straight to your inbox.
      </p>
      <div class="row mt-4">
        <div class="col-12 col-lg-8">
          <input
            type="text"
            class="form-control form-control-lg rounded-border"
            placeholder="Enter your Email here"
          />
        </div>
        <div class="col-12 col-lg-4">
          <button class="btn btn-lg background-secondary rounded-pill py-2 text-white w-100 my-3 my-lg-0">
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
