<div class="row py-5">
    <div class="col-12 col-md-6 col-lg-8 text-white">
      <h1 class="font-clash text-67 d-none d-md-block">
        Discover digital art & Collect
        <span class="text-gradient"> NFTs</span>
      </h1>
      <h1 class="font-clash d-block d-md-none">
        Discover digital art & Collect
        <span class="text-gradient"> NFTs</span>
      </h1>
      <p class="h4 my-3">
        NFT marketplace UI created with Anima for Figma. Collect, buy and sell
        art from more than 20k NFT artists.
      </p>
      <button class="btn btn-lg background-secondary rounded-pill px-5 py-2 text-white my-3 d-none d-md-block">
        Get Started
      </button>
      <button class="btn btn-lg background-secondary rounded-pill px-5 py-2 text-white w-100 d-block d-md-none">
        Get Started
      </button>
      <div class="row mt-3">
        <div class="col-4">
          <h1 class="font-clash h3 text-gradient">240k+</h1>
          <p class="h4">Total Sale</p>
        </div>
        <div class="col-4">
          <h1 class="font-clash h3 text-gradient">100k+</h1>
          <p class="h4">Auctions</p>
        </div>
        <div class="col-4">
          <h1 class="font-clash h3 text-gradient">170k+</h1>
          <p class="h4">Artists</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <img src="/Asset/hero.png" alt="" class="img-fluid"/>
    </div>
  </div>
